#!/usr/bin/make -f
# -*- makefile -*-
#
# Expected debian/rules file that is used by the dpkg build procedure
#
#   $ git clone <nfs-ganesha>
#   $ cd nfs-ganesha
#   $ dpkg-buildpackage -uc -us
#
export PREFIX=/usr
export DESTDIR=$(CURDIR)/debian/tmp
export SRCDIR=$(CURDIR)/src

DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)

%:
	 dh --with python2 --with quilt --sourcedirectory=$(SRCDIR) $@

override_dh_auto_configure:
	 dh_auto_configure -- -DBUILD_CONFIG=debian -DFSAL_DESTINATION=lib/${DEB_HOST_MULTIARCH}/ganesha

override_dh_auto_test:

override_dh_install:
	 mkdir -p $(DESTDIR)/etc/ganesha/
	 mkdir -p $(DESTDIR)/etc/init.d/
	 mkdir -p $(DESTDIR)/etc/logrotate.d/
	 mkdir -p $(DESTDIR)/etc/dbus-1/system.d/
	 cp $(SRCDIR)/config_samples/vfs.conf $(DESTDIR)/etc/ganesha/ganesha.conf; \
	 cp $(SRCDIR)/config_samples/logrotate_ganesha $(DESTDIR)/etc/logrotate.d/nfs-ganesha; \
	 cp $(SRCDIR)/ganesha.init $(DESTDIR)/etc/init.d/nfs-ganesha; \
	 cp $(SRCDIR)/scripts/ganeshactl/org.ganesha.nfsd.conf $(DESTDIR)/etc/dbus-1/system.d/nfs-ganesha-dbus.conf; \
	 dh_install --sourcedir=debian/tmp
